---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getCollection, type CollectionEntry } from "astro:content";

// Cargamos todos los servicios
const servicios: CollectionEntry<"services">[] =
  await getCollection("services");
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main style="max-width: 900px; margin: auto; padding: 2rem;">
      <p>Hola, mi nombre es Jorge Oña</p>
      <h3>La justicia es la base de una sociedad próspera.</h3>
      <p>
        Soy Jorge Oña, abogado especializado en diferentes ramas del derecho.
        Con años de experiencia, me dedico a brindar asesoría legal integral y
        representación jurídica de calidad.
      </p>
      <button
        style="
        padding: 0.6em 1.2em; 
        font-size: 1rem; 
        border-radius: 4px; 
        border:none; 
        background-color: #0057b8; 
        color: white; 
        cursor: pointer;
      "
      >
        Trabajemos juntos
      </button>

      <h4 style="margin-top: 3rem;">
        Servicios tratados como una especialidad.
      </h4>

      <section
        class="cards-container"
        style="
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 1rem;
      "
      >
        {
          servicios.map((servicio) => (
            <a
              href={`/about?servicio=${servicio.slug}`}
              class="card"
              style="
              text-decoration: none;
              border: 1px solid #ccc;
              padding: 1rem;
              border-radius: 8px;
              color: #000;
              transition: box-shadow 0.3s ease;
              display: block;
            "
              key={servicio.id}
            >
              <div class="card-icon">⚖️</div>
              <h5 style="margin-top: 0;">{servicio.data.title}</h5>
              <p>{servicio.data.description}</p>
            </a>
          ))
        }
      </section>
    </main>

    <main class="second-container">
      <h3>¿Necesitas asesoría legal?</h3>
      <p>
        Estoy aquí para ayudarte a navegar por el sistema legal y proteger tus
        derechos. Ya sea que necesites asesoría, representación en litigios o
        simplemente una consulta, no dudes en contactarme.
      </p>
      <button
        style="
        padding: 0.6em 1.2em; 
        font-size: 1rem; 
        border-radius: 4px; 
        border:none; 
        background-color: #0057b8; 
        color: white; 
        cursor: pointer;
      "
      >
        Trabajemos juntos
      </button>
    </main>

    <Footer />

    <style>
      .cards-container {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        margin-top: 1.5rem;
      }
      .card {
        background-color: #e3ecff;
        border-radius: 15px;
        padding: 2rem 1.5rem;
        box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
        border: 1px solid #a4c1ff;
        color: #0041c4;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition:
          box-shadow 0.3s ease,
          transform 0.25s ease;
      }
      .card:hover {
        box-shadow: 0 8px 15px rgb(0 0 0 / 0.2);
        transform: translateY(-4px);
      }
      .card h5 {
        margin: 0 0 0.7rem 0;
        font-weight: 700;
        font-size: 1.3rem;
      }
      .card p {
        margin: 0;
        font-size: 1rem;
        opacity: 0.8;
      }
      .card-icon {
        align-self: flex-end;
        width: 30px;
        height: 30px;
        background-color: #80aaff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.8rem;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
      }
      .second-container {
        width: 100%;
        margin: 4rem auto;
        padding: 2rem;
        text-align: center;
        background-color: #f5f5f5;
      }
      .second-container p {
        font-size: 1rem;
        margin: 1rem auto 2rem auto;
        max-width: 600px;
      }
    </style>
  </body>
</html>
